@charset "utf-8";
/* -------------------------------------------------
 * 重置 css
 * -------------------------------------------------
*/
html{
  height:100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body{
  height:100%;
}
/* 去除默认边框和边距 */
/*fieldset,img,a img{border:none;}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { /* 清除所有标签的默认边距 */
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 要注意表单元素并不继续父级 font 的问题 */
button,input,select,textarea{font-size:12px/1.5;}
input,select,textarea{font-size:100%;}

input, select, label {vertical-align:middle;}
/* 去掉各Table  cell 的边距并让其边重合 */
table{border-collapse:collapse;border-spacing:0;}
/* IE bug fixed: th 不继承 text-align*/
th{text-align:inherit;}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe{display:block;}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym{border:0;font-variant:normal;}
/* 一致的 del 样式 */
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th{text-align:left;}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before,q:after {content:'';content: none;}
/* 统一上标和下标 */
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}

a {text-decoration:none;outline:none;}

p {font-weight: 300;margin-bottom: 5px;line-height: 20px;}
p a {font-weight: 400;}

dl dt {color: #303030;}
dl{ margin-bottom: 18px;}
dt{font-weight: bold;}
dd{margin:0 0 0 9px;padding:0;}

ul li {list-style: disc inside;padding-left: 20px;}
ol li {list-style: decimal inside;padding-left: 3px;}
ul, ol, dl {margin-bottom: 20px;}
ul ul, ul ol,ol ol, ol ul {margin-bottom: 0;}
ul.nostyle{list-style: none outside none;}
ul.nostyle li{margin-left: 0;}
ul.inline-style{list-style: none outside none;margin-bottom:0;}
ul.inline-style li{float:left;display:inline;margin-left:0;}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

 /* 清理浮动 */

.clearfix:before {content:"";display:table;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;overflow:hidden;}
.clearfix {display: inline-block;}
.clearfix{zoom:1; /* for IE6 IE7 */}
* html .clearfix {height: 1%;}
/* 隐藏, 通常用来与 JS 配合 */
body .hide{display:none;}
/* 设置内联, 减少浮动带来的bug */
.left,.right{display:inline;}
.left{float:left;}
.right{float:right;}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}


/***** General Element Type Style *****/
/*body {font-family: "微软雅黑","Arial","Helvetica","sans-serif";font-size:16px;background:#F8F8F0}*/
body {font-size: 0.9em;line-height: 1;background: #e7e7e7;font-family: 'Helvetica Neue', Helvetica, Arial, serif;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);color: #6d6d6d;}
a {color:#4A75B5;}
/*a {color: #d5000d;}*/
a:hover {text-decoration:underline;color: #c5000c;}
a.external {padding-right:13px;background:url('/images/icons.gif') no-repeat right 1px;}
a.external:hover {background-position:right -14px;}
h1,h1 a {font-size:32px;font-weight:bold;margin-top:20px;margin-bottom:32px;color:#000}
h1 a:hover {text-decoration:none;}
h2 {font-size: 22px;font-weight: bold;color: #303030;margin-bottom: 12px;} 
h3 {font-size: 18px;font-weight: bold;color: #d5000d;margin-bottom: 8px;} 
h4 {font-size: 16px;color: #303030;font-weight: bold;}
h5 {font-size: 1em;color: #303030;}
h6 {font-size: .8em;color: #303030;}

code {
  background: #f2f2f2;
  border: 1px solid #ddd;
  padding: 0 3px;
  font-family: "Courier";
  line-height: 14px;
  color: #222;
  margin-bottom: 30px;
  font-size: 14px;
}
pre {
  background-color: #303030;
  padding: 15px;
  overflow: auto;
  margin-bottom: 20px;
  font-size: 14px;
  border: 1px solid #eee;
  border-radius: 4px 4px 4px 4px;
  color: #b9bdb6;
  text-shadow: none;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
}
pre code {color: #f2f2f2;background-color: #303030;border: none;padding: 0;}
pre ol{margin-left:25px;list-style-type:decimal;}
blockquote {font-size: 1.6em;border-left: 10px solid #e9e9e9;margin-bottom: 20px;padding: 0 0 0 30px;}


/***** Common Style *****/
hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
  background: transparent url('../images/hr.png') 50% 0 no-repeat;
}
strong {font-weight: bold;}
em {font-style: italic;}
table {width: 100%;border: 1px solid #ebebeb;}
th {font-weight: 500;}
td {border: 1px solid #ebebeb;text-align: center; font-weight: 300;}
form {background: #f2f2f2;padding: 20px;}

a.button {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;                     
  border-radius: 30px;
  border-top: solid 1px #cbcbcb;
  border-left: solid 1px #b7b7b7;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b3b3b3;
  color: #303030;
  line-height: 25px;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 8px 12px 8px;
  display: block;
  float: left;
  width: 179px;
  margin-right: 14px;  
  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 0px 1px 5px #e8e8e8;
}
a.button:hover {
  border-top: solid 1px #b7b7b7;
  border-left: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
a.button span {padding-left: 50px;display: block;height: 23px;}
time {
  color: #F35517;
  font-family: 'Helvetica';
  font-size: 14px;
}

/***** Custom Style *****/
.time {

}
.lightgreybtn {
  border:1px solid #ccc;
  color:#666;
  text-shadow:0 1px 0 rgba(255,255,255,0.8);
  box-shadow:inset 0 1px 1px #fff,0 0 1px #fff inset;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(230,230,230,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(230,230,230,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(230,230,230,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-8 */
}
.lightgreybtn:hover {
  background:#e6e6e6;
  color:#666;
  filter:none;
}
.darkgreybtn {
  border:1px solid #848484;
  color:#fff;
  text-shadow:0 -1px 0 rgba(0,0,0,0.3);
  box-shadow:inset 0 1px 1px #fff,0 0 1px #fff inset;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0ZDRkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMmEyYTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(212,212,212,1) 0%, rgba(162,162,162,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,212,212,1)), color-stop(100%,rgba(162,162,162,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(212,212,212,1) 0%,rgba(162,162,162,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(212,212,212,1) 0%,rgba(162,162,162,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(212,212,212,1) 0%,rgba(162,162,162,1) 100%); /* IE10+ */
  background: linear-gradient(top,  rgba(212,212,212,1) 0%,rgba(162,162,162,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4d4d4', endColorstr='#a2a2a2',GradientType=0 ); /* IE6-8 */
}
.darkgreybtn:hover {
  background:#C0BFBF;
  color:#fff;
  filter:none;
}
/* shadow */
.outershadow {
  padding:2px;
  border:2px solid #ccc;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:0 0 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}
.outershadow:hover{
  border:2px solid rgba(82, 168, 236, 0.6);
  -webkit-box-shadow:0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}

.innershadow {
  border:2px solid #ccc;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
  -moz-box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
  box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  transition:all 0.3s ease;
}
.innershadow:hover{
  border:2px solid rgba(82, 168, 236, 0.6);
  -webkit-box-shadow:inset 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow:inset 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow:inset 0 0 8px rgba(82, 168, 236, 0.6);
}

.item:before {
  content: "\25ba";
  color: #ccc;
  margin-right: 5px;
}


/* code title */
.codetitle {
  display:inline-block;*display:inline;*zoom:1;
  padding:2px 8px;
  background-color:#00c5e3;
  color:#fff;
  border-radius:0 11px 11px 0;
  /*margin-left:-10px;*/
  text-shadow:0 -1px 0 rgba(0,129,149,0.3);
  font-variant: small-caps;
  text-transform: capitalize;
  _position:relative;
  _zoom:1;
}
.codetitle_right {
  border-radius:0 11px 11px 0;
}
.codetitle_left {
  border-radius:11px 0 0 11px;
}
/***** Layout Style *****/
a.but {
  cursor: pointer;
  display: inline-block;
}
/*------ Page Layout Style ------*/
#container {
  /*background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;*/
  background: #fff;
  margin-bottom: 30px;
}

.inner {
  width: 800px;
  margin: 0 auto;
}

#container .inner img {
  max-width: 100%;
}
#container .inner .nav {
  margin-right: 50px;
  height: 20px;
}
#container .inner .nav a{
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #E50053;
}

header {
  padding-top: 15px;
  padding-bottom: 0px;
}
header h1 {
  font-family: "Helvetica", "Arial", "serif"; font-weight: 900;
  /*text-shadow: 1px 1px 0 #fff,-1px -1px 0 #fff;字体外高亮*/
  letter-spacing: -1px;
  font-size: 48px;
  color: #303030;
  line-height: 1.2;
}
header h2 {
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.8), 1px 1px 0 rgba(50, 50, 50, 0.5);
  margin-top: 10px;
  margin-right: 260px;
  letter-spacing: -1px;
  font-size: 24px;
  text-align: right;
  color: #ccc;/*color: #aaa;*/
  font-weight: normal;
  line-height: 1.3;
}
header h3 {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.8);
  margin-top: 5px;
  margin-right: 100px;
  letter-spacing: -1px;
  font-size: 14px;
  text-align: right;;
  color: #fff;
  font-weight: normal;
  line-height: 1.3;
}

#main_content {
  text-align: left;
  min-height: 595px;
  width: 100%;
}

footer {
  height: 30px;
  width: 100%;
  background: transparent url('../images/hr.png') 0 0 no-repeat;
  padding: 15px 20px 30px 20px;
  font-size: 13px;
  text-align: right;
  color: #aaa;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}


/* Post Layout Style */

/*--目录导航--*/
#menuIndex {position:fixed;top:60px;right:20px;width:200px;overflow:auto}
#menuIndex a {display:block}
#menuIndex a:hover {text-decoration:none;}
#menuIndex ul li{font-size:12px;margin-bottom:5px;word-wrap:break-word;padding-left:10px;}
#menuIndex ul li.on{background-color:#eee}
#menuIndex li.h1{font-size:14px;font-weight:normal;padding-left:0;margin-bottom:10px;}
#menuIndex li.h3{padding-left:25px;}



/* index page post style */
.log {
  width: 100%;
}
.log .image {
  text-align: center;
}
.log .text {
  text-align: right;
}
.log em {
  padding: 20px;
  border: 5px solid #ccc;
  margin: 20px 50px 20px 0px;
}
.log time {

}

.bottom_nav {
  height: 10px;
  width: 100%;
}
.last {
  margin-left: 10px;

}
.next {
  margin-right: 10px;
}

/*------ Archives Style ------*/
.archive_list {
  width: 100%;
}
.archive_year {
  width: 100%;
}
.year {
  float: left;
  clear: left;
  display: inline;
  padding-top: 10px;
  height: 100px;
  width: 100px;
  color: #fff;
  font-family: "Times New Roman",Times,serif; 
  font-size: 28px; 
  font-style: italic;
  text-indent: 5px;
  text-shadow: 0 0 3px rgba(255,0,0,0.6);
}

.article_item {
  width: 700px;
  float: left;
  display: inline;
}
.article {
  float: left;
  clear: left;
  height: 60px;
  margin: 0 0;
  padding-top: 10px;
  border-bottom: 1px dotted #d9d9d9;
}
.article:hover {
  background: #f5f5f5; 
  background: -moz-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
  background: -webkit-linear-gradient(-90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
  background: -ms-linear-gradient(to -90deg, #ffffff 0%, #fefefe 80%, #f5f5f5 100%);
  background: linear-gradient(to -90deg, #ffffff 0, #fefefe 80%, #f5f5f5 100%);
}

.article_title {
  float: left;
  width: 150px;
  height: 50px;
  padding: 5px;
}

.article_desc {
  float: left;
  height: 50px;
  padding: 5px;
}


/*------ About Page Style ------*/
#main_content {

}
#main_content p {

}
#aboutme h4 {
  color: #d5000d;
  font-size: 16px;
  line-height: 26px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 18px;
  margin-top: 1.5em;
}


/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  .inner {
    width: 94%;
    margin: 0 auto;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}



