---
layout: page
title: 博文列表
keywords: 博文列表,DolphinBoy
---

<h3>Article List&nbsp;&nbsp;<span>({{ site.categories.blog | size }} posts.)</span></h3>

<section id="article_list">
	{% capture line_year %}{{ 'now' | date: '%Y' }}{% endcapture %}
	{% capture line_mouth %}{{ 'now' | date: '%m' }}{% endcapture %}
	<div class="archive_year">
		<p class="year">{{ line_year }}</p>
	{% for post in site.categories.blog %}
    	{% capture post_year %}{{ post.date | date: '%Y' }}{% endcapture %}
		{% if line_year != post_year %}
    </div>
	<div class="archive_year">
		<p class="year">{{ line_year }}</p>
		{% endif %}
		<div class="article_item">
			<article class="article">
				<div class="article_title">
					<p class="v-date"><span>&#8227;</span><time pubdate="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%b %d' }}</time>&nbsp;>></p>
					<a href="{{ post.url }}">{{ post.title }}</a></div>
				<div class="article_desc">{{ post.description }}</div>
			</article>
	{% endfor %}
		</div>
	</div>
</section>
