---
layout: default
---
<body>
    <div id="container">
      <div class="inner">
        <header>
            <div class="nav right">
                <a href="/index">Home</a>
                <a href="/archives">Archives</a>
                <a href="/page">Page</a>
                <a href="/project">Project</a>
                <a href="/about">About</a>
            </div>
            <h1>DolphinBoy</h1>
            <h2>人生中，最大的敌人就是自己，人的一生就是和自己抗争的过程...</h2>
            <h3>——龙</h3>
        </header>
        <hr>
        <div id="main_content">
            {{ content }}
        </div>
        <footer>
            {% for line in site.copyright %}
                {{ line }}
            {% endfor %}
        </footer>
      </div>
    </div>
</body>
