---
layout: page
css:
    - http://alexgorbatchev.com/pub/sh/current/styles/shThemeRDark.css
javascript:
    - /js/anchor_nav.js
    - http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js
    - http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js    
---
<div class="post">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
        <time pubdate="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%Y-%m-%d' }}</time>&nbsp;By {{ site.author_info }}
    </p>
    <p class="description">{{ page.description }}</p>
    {{ content }}
</div>
<div class="announce">
    <p>作者：{{ site.author_info }}</p>
    <p>原文：<a href="{{ page.url }}" title="{{ page.title }}" rel="nofollow">{{ page.title }}</a></p>
    <p>版权: 本文采用 <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" target="_blank" rel="nofollow" title="署名-非商业性使用-相同方式共享">BY-NC-SA</a> 协议进行授权. 转载请注明出处</p>
</div>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
    <a class="jiathis_button_qzone"></a>
    <a class="jiathis_button_tsina"></a>
    <a class="jiathis_button_tqq"></a>
    <a class="jiathis_button_renren"></a>
    <a class="jiathis_button_kaixin001"></a>
    <a class="jiathis_button_xiaoyou"></a>
    <a class="jiathis_button_googleplus"></a>
    <a href="http://www.jiathis.com/share?uid=1739621" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
    <a class="jiathis_counter_style"></a>
</div>

<script type="text/javascript">
/**
    $(function(){
        SyntaxHighlighter.autoloader(
            'html  http://alexgorbatchev.com/pub/sh/current/scripts/shBrushXml.js',
            'javascript  http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js'
        );
        SyntaxHighlighter.all();
    });
*/
    var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1356107616618126" charset="utf-8"></script>
<!-- JiaThis Button END -->

<div id="disqus_container"> 
    <!--
    <a href="#" class="comment" onclick="return false;">想看看评论？猛戳这里~</a>
        <div id="disqus_thread"></div>
    -->
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" id="UYScript" src="http://v1.uyan.cc/js/iframe.js?UYUserId=1739621" async=""></script>
    <!-- UY END -->

<script type="text/javascript">
function path()
{
  var args = arguments,
      result = [] ;
       
  for(var i = 0; i < args.length; i++)
      result.push(args[i].replace('@', 'http://alexgorbatchev.com/pub/sh/current/scripts/'));
       
  return result;
};
     
SyntaxHighlighter.autoloader.apply(null, path(
  'applescript            @shBrushAppleScript.js',
  'actionscript3 as3      @shBrushAS3.js',
  'bash shell             @shBrushBash.js',
  'coldfusion cf          @shBrushColdFusion.js',
  'cpp c                  @shBrushCpp.js',
  'c# c-sharp csharp      @shBrushCSharp.js',
  'css                    @shBrushCss.js',
  'delphi pascal          @shBrushDelphi.js',
  'diff patch pas         @shBrushDiff.js',
  'erl erlang             @shBrushErlang.js',
  'groovy                 @shBrushGroovy.js',
  'java                   @shBrushJava.js',
  'jfx javafx             @shBrushJavaFX.js',
  'js jscript javascript  @shBrushJScript.js',
  'perl pl                @shBrushPerl.js',
  'php                    @shBrushPhp.js',
  'text plain             @shBrushPlain.js',
  'py python              @shBrushPython.js',
  'ruby rails ror rb      @shBrushRuby.js',
  'sass scss              @shBrushSass.js',
  'scala                  @shBrushScala.js',
  'sql                    @shBrushSql.js',
  'vb vbnet               @shBrushVb.js',
  'xml xhtml xslt html    @shBrushXml.js'
));
SyntaxHighlighter.all();
</script>
</div>