---
layout: page

javascript:
    - /js/jquery-1.9.0.min.js
    - /js/anchor_nav.js
css:
    - /css/pygment_trac.css
---
<div class="post">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
        <time pubdate="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%Y-%m-%d' }}</time>&nbsp;By {{ site.author_info }}
    </p>
    <p class="description">{{ page.description }}</p>
    {{ content }}
</div>
<div class="announce">
    <p>声明: 本文采用 <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" target="_blank" rel="nofollow" title="署名-非商业性使用-相同方式共享">BY-NC-SA</a> 协议进行授权. 转载请注明转自: <a href="{{ page.url }}" title="{{ page.title }}" rel="nofollow">{{ page.title }}</a> 联系：{{ site.author_info }}</p>
</div>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
    <a class="jiathis_button_qzone"></a>
    <a class="jiathis_button_tsina"></a>
    <a class="jiathis_button_tqq"></a>
    <a class="jiathis_button_renren"></a>
    <a class="jiathis_button_kaixin001"></a>
    <a class="jiathis_button_xiaoyou"></a>
    <a class="jiathis_button_googleplus"></a>
    <a href="http://www.jiathis.com/share?uid=1739621" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
    <a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript">
var jiathis_config = {data_track_clickback:'true'};
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1356107616618126" charset="utf-8"></script>
<!-- JiaThis Button END -->

<div id="disqus_container"> 
    <a href="#" class="comment" onclick="return false;">想看看评论？猛戳这里~</a>
    <div id="disqus_thread"></div>
</div>

