---
layout: page

javascript:
    - /js/jquery-1.9.0.min.js
    - /js/anchor_nav.js
css:
    - /css/pygment_trac.css
---
<div class="post">
    <h1 class="title">{{ page.title }}</h1>
    <p class="meta">
        <time pubdate="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%Y-%m-%d' }}</time>&nbsp;By {{ site.author_info }}
    </p>
    <p class="description">{{ page.description }}</p>
    {{ content }}
</div>
<div id="disqus_container"> 
    <a href="#" class="comment" onclick="return false;">点击查看评论</a>
    <div id="disqus_thread"></div>
</div>
